%div#moves{ "ng-controller"=>"MovesController"}
  %h1.col-md-4.col-md-offset-4 moves

  %div.logged-in-user
    %p you are: user_4
  %div.board
    %table
      %tr
        %td 0
        %td 1
        %td 2
      %tr
        %td 3
        %td 4
        %td 5
  %div.bid
    %form
  %div.allbids
    %ul
      %li user_1: 4
      %li user_3: 6
      %li user_2: 11
  %div.time-left
    %p Time Left: 30 sec



  %div.previous

  {{newMove}}
  {{move.number_of_moves}}

  %button.another-move{"ng-submit" => "saveMove()", "ng-model" => "newMove.number_of_moves"} 3

  %button.another-move.minus{"ng-submit" => "saveMove()", "ng-model" => "newMove.number_of_moves"} -3
  
  %svg{"width" => "200", "height" => "200"}
    %circle{ "cx" => "150", "cy" => "150", "r" => "20", "fill" => "red" }

  %form{"ng-submit"=> "saveMove()"}
    %input#new-move{ "ng-model"=>"newMove.number_of_moves", "type"=>"number", "required"=>"true"}
    %input{"type"=>"submit", "value"=>"Save Move"} 


  %ul
    %li{ "ng-repeat" => "move in moves"}
      {{move.number_of_moves}}
