
%div#moves{ "ng-controller"=>"MovesController"}
  %h1 moves

  {{newMove}}

  %button.another-move{"ng-submit" => "saveMove()", "ng-model" => "newMove.number_of_moves"} 3

  %button.another-move.minus{"ng-submit" => "saveMove()", "ng-model" => "newMove.number_of_moves"} -3
  
  %svg{"width" => "200", "height" => "200"}
    %circle{ "cx" => "150", "cy" => "150", "r" => "20", "fill" => "red" }

  %form{"ng-submit"=> "saveMove()"}
    %input#new-move{ "ng-model"=>"newMove.number_of_moves", "type"=>"number", "required"=>"true"}
    %input{"type"=>"submit", "value"=>"Save Move"} 


  %ul
    %li{ "ng-repeat" => "move in moves"}
      {{move.number_of_moves}}
