<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div id='user_info' ng-controller='UserController'>

  <br>
  <div class="row">

    <div class="col-md-3 pull-left">
      <button ng-click='getUser()'>Refresh</button>
      <h3>At this table:</h3>
      <ul class="">
        <li ng-repeat="user in current_users">
          <span>{{user}}</span>
        </li>
      </ul>

      <div ng-controller='MovesController'>
        <div class="row">
          <div class="col-md-9 dotsection">
          </div>
          <div class="col-md-3 chatsection pull-right">
            <input />
          </div>
        </div>

        <div class="controls">
          <svg height='100' width='250'>
            <circle class="items add-circle" cx=20 cy=50 fill='black' r='20' style="stroke:white"></circle>
            <polygon class="items add-triangle" points="{{trianglePoints(65,55)}}" style="fill:black;stroke:white;stroke-width:1" />
            <polygon class="items add-square" points="{{squarePoints(110,50)}}" style="fill:black;stroke:white;stroke-width:1" />
          </svg>
        </div>
        <div class="usersection">
          <p>{{current_user}}</p>
        </div>
        <div class="deletesection">
          <button>X</button>
        </div>
        <div class="row">
          <div class="col-md-4 resultsection">
            <ul>
              <li>Y</li>
              <li>N</li>
            </ul>
          </div>
          <div class="col-md-4 querysection">
            <ul>
              <li>guess</li>
              <li>ask</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
