.row
  .col-sm-12
    - if user_signed_in?
      %H1 Select a Game to play

      #moves{"ng-controller" => "GamesController"}
        %table.table
          %tr
            %th Name
            %th Time Remaining
            %th (Max) Number of Users
            %th Current number of users
            %th Status code
            %th Already part of game?
            %th Join?
          %tr{"ng-repeat" => "game in games", "ng-init" => "mytime = game.end_time_ms"}
            %td {{game.name}}
            %td <timer end-time="mytime">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer>
            %td {{game.num_users}}
            %td {{game.curr_num_users}}
            %td {{game.status}}
            %td {{game.in_game}}
            %td
              %a.btn.btn-default{"ng-href" => "/players/join?game_id={{game.id}}"}
                Join Game

      -# Was {:href => "", "ng-click" => "joinGame($event)"}
    - else
      = link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg"
