<h1> Games#geodes </h1>
<p> Find me in app/views/games/geodes.html.haml </p>

<svg class="color" width="60" height="60">
  <polygon color=1 points="10,50 25,10 50,50" />
  </svg>

  <button id="gTriangle"> +1
    </button>
