.board tr td {
  background-color: gray;
  padding: 10px 10px 10px 20px;
  margin: 5px 5px 5px 5px;
}

$wall: black;
.north {
  border-top: 3px solid $wall;
}
.west {
  border-left: 3px solid $wall;
}
.east {
  border-right: 3px solid $wall;
}
.south {
  border-bottom: 3px solid $wall;
}

#user_info {
  margin-left: 10%;
}

